<div class="container">
    <form method="post">
        <div class="form-group">
            <label>id</label> 
            <input class="form-control" id="id" placeholder="id" ng-model="id" />
            <label>Tên sản phẩm</label>
            <input class="form-control" id="ten" ng-model="ten" />
            <label>Đặc điểm</label>
            <input class="form-control" id="dacdiem" ng-model="dacdiem" />
        </div>
        <div class="form-group">
            <label>Tình trạng</label>
            <input type="text" class="form-control" id="tinhtrang" placeholder="tinhtrang" ng-model="tinhtrang" />
        </div>
        <div class="form-group">
            <label>Giá bán</label>
            <input type="text" class="form-control" id="gia" placeholder="gia" ng-model="gia" />
        </div>
        <div class="form-group">
            <label>Số lượng</label>
            <input type="text" class="form-control" id="giamgia" placeholder="Giam gia" ng-model="giamgia" />
        </div>
        <div class="form-group">
            <label>Kích cỡ</label>
            <input type="text" class="form-control" id="kichco" placeholder="kichco" ng-model="kichco" />
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <input type="text" class="form-control" id="mota"  ng-model="mota" />
        </div>
        <div class="form-group">
            <label>Chất liệu</label>
            <input type="text" class="form-control" id="chatlieu"  ng-model="chatlieu" />
        </div>
        <div class="form-group">
            <label>Thiết kế</label>
            <input type="text" class="form-control" id="thietke"  ng-model="thietke" />
        </div>
        <div class="form-group">
            <label>Ưu điểm</label>
            <input type="text" class="form-control" id="uudiem"  ng-model="uudiem" />
        </div>
         <br>
        <button type="submit" class="btn btn-primary" ng-click="them()">
            Thêm sản phẩm
        </button>

    </form>
</div>